#pageContent{
    background-color: #C4D7E0;
    padding: 3em;
    height: 100%;
    overflow-y: hidden;
    width: 95%;
}

#forms{
    background-color: aliceblue;
}
form{
    height: 95%;
    width: 95%;
    margin: auto;
    padding: 2em;
}

#new-author{
    width: fit-content;
}

.react-select{
  border: none;
  padding: 0.375rem 0 0.375rem 0.75rem;
  background-color: aliceblue;
}