.btn-danger{
    height: 1.7em;
    width: 1.7em;
}
#exit{
    padding: 0 0 0.2em 0;
    font-size: 1.5em;
    font-family: "Segoe UI";
}
.textField{
    max-width: 80%;
    height: 2em;
}

form{
    padding: 1em 2em;
}

.modalContainer{
    max-width: 40em;
    width: 60%;
}